.hero-unit
  .row
    .col-sm-12
      .hero-unit__message
        %h1.hero-unit__title survhey
        .hero-unit__sub-copy
          %p
            Get answers, for your health.

          %p.hero-unit__action
            = link_to "Start a survhey", "#", class: "btn"

          %p.aside-paragraph
            (no signup needed)
