- title "Your surveys"

.row
  .col-sm-12
    - if @surveys.empty?
      %p.no-content
        = icon :lab, "big-icon"

        You didn't create any surveys yet. #{link_to "Create a survey", new_survey_path}
    - else
      .survey-list

        .account-link-notice
          %h5 Access your surveys wherever you are
          %p.secondary-text
            Open this URL in your other devices to link your accounts together:
            = link_to link_account_url(uid: current_user.uid), ""

        %h4 Your surveys
        = render @surveys
