- title @survey.title
- content_for(:page_description, @survey.description || "This survey has no description")

.row
  .col-md-12
    .survey
      .survey__header
        .survey__title
          - if @survey.private?
            .survey__visibility{title: "The results of this survey are private."}
              #{icon(:lock)}
          = @survey.title

      - if @survey.answered?(current_user)
        - if @survey.public? || @survey.created_by?(current_user)
          = render "surveys/results", survey: @survey
        - else
          %p.no-content
            Thank you for answering this survey! Its creator has decided not to make the results
            public.
      - else
        = render "surveys/choices", survey: @survey

.big-hint-text
  %strong Hint:
  Are you a robot? Append <code>.json</code> to the survey URL for a robot-friendly version
  of this survey!
