label {
  color: $dark-gray;
  font-size: $normal-text;
  padding-left: 20px;
  display: block;
  margin-bottom: 10px;
}

.text-input {
  @include transition(all 0.05s ease);

  width: 100%;
  font: inherit;
  padding: 20px;
  margin: 0 0 20px 0;

  border: none;
  outline: none;

  border-bottom: 3px solid $clear-gray;

  @include placeholder($bright-gray);

  background-color: $semi-white;

  &:focus, &:hover {
    background: transparent;
  }
}

  .text-input--large {
    font-size: $biggerer-text;
  }

.checkbox-input {
  label {
    display: inline-block;
    padding-left: 10px;
  }
}

form {
  margin: 40px 0;
}

.form__hint {
  padding: 20px;
  color: $secondary-text-color;
  font-size: $small-text;
}

.form__heading {
  margin-bottom: 40px;
}

  .form__title {
    padding: 0 20px;
    font-size: $biggerer-text;
  }

.form__section {
  &:not(:last-child){
    margin-bottom: 20px;
  }
}
