label {
  color: $dark-gray;
  font-size: $normal-text;
  padding-left: 20px;
  display: block;
  margin-bottom: 10px;
}

.text-input {
  @include transition(box-shadow 0.1s ease);

  width: 100%;
  font: inherit;
  padding: 20px;
  margin: 0 0 20px 0;

  border: none;
  outline: none;

  border-radius: $base-border-radius;
  box-shadow: inset 0 0 0 2px $clear-gray;

  &:focus {
    box-shadow: inset 0 0 0 2px $primary-color-faded;
  }
}

  .text-input--large {
    font-size: $biggerer-text;
  }

.checkbox-input {
  label {
    display: inline-block;
    padding-left: 10px;
  }
}

form {
  margin: 40px 0;
}

.form__hint {
  padding: 20px;
  color: $secondary-text-color;
  font-size: $small-text;
}

.form__heading {
  margin-bottom: 40px;
}

  .form__title {
    padding: 0 20px;
    font-size: $biggerer-text;
  }

.form__section {
  &:not(:last-child){
    margin-bottom: 20px;
  }
}
