.survey {}
  .survey__header {
    margin-bottom: 30px;
  }

  .survey__meta {
    font-size: $small-text;
  }
    .survey__visibility {
      color: $secondary-text-color;
    }
      .survey__visibility--private {}

    .survey__url {}

  .survey__title {
    font-size: $biggerer-text * 1.7;
    font-weight: 600;
  }

  .survey__description {
    color: $dark-gray;
    padding: 10px 0;
  }

  .survey__results {
    margin: 20px 0;
  }

    .survey__results__header {
      font-size: $bigger-text;
      margin-bottom: 20px;

      .icon {
        margin-right: 20px;
      }
    }

  .survey__choices {}

    .survey__choice {
      border-radius: 6px;
      padding: 15px 25px;
      box-shadow: inset 0 0 0 3px $clear-gray;
      cursor: pointer;

      @include transition(box-shadow 0.1s ease);

      &:hover, &:focus {
        box-shadow: inset 0 0 0 3px $primary-color;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

      .survey__choice__title {
        font-size: $bigger-text;
      }
