.survey {
  @include animation(fadeIn 0.3s ease-in);
}
  .survey__header {
    margin-bottom: 30px;
  }

  .survey__destroy {
    text-align: right;
    font-size: $small-text;

    a {
      color: $secondary-text-color;
    }
  }

  .survey__meta {
    font-size: $small-text;
    color: $secondary-text-color;
    list-style-type: none;
    display: block;

    &, li {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .survey__title {
    font-size: $biggerer-text * 1.7;
    font-weight: 600;
  }

  .survey__description {
    color: $dark-gray;
    padding: 10px 0;
  }

  .survey__results {
    margin: 40px 0;
    padding-top: 40px;

    border-top: 1px solid $clear-gray;
  }

  .survey__choices {}

    .survey__choice {
      border-radius: $base-border-radius;
      padding: 15px 25px;
      box-shadow: inset 0 0 0 3px $clear-gray;
      cursor: pointer;

      @include transition(box-shadow 0.1s ease);

      a {
        text-decoration: none;
        color: inherit;
      }

      &:hover, &:focus, &:active {
        box-shadow: inset 0 0 0 3px $primary-color;
      }

      &:active {
        background: $primary-color;
        color: white;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

      .survey__choice__title {
        font-size: $bigger-text;
      }

.survey__results {
  .row:not(:last-child) {
    margin-bottom: 30px;
  }
}

  .survey__results__answer__choice {
    border-radius: $base-border-radius;
    background: $primary-color;
    color: white;
    padding: 10px 20px;
    font-size: $bigger-text;
    margin-bottom: 20px;
  }

    .survey__results__answer__choice--top {
      box-shadow: inset 0 0 0 3px $clear-gray;
      background: transparent;
      color: $text-color;
    }

  .survey__results__graph {
    margin: 20px 0;
    text-align: center;
  }

    #results-graph {
      max-height: 300px;
      max-width: 600px;
    }

.survey__form {
  @include animation(fadeIn 0.3s ease-in);
}

.survey-list {
  border-top: 1px solid $clear-gray;
  padding-top: 20px;
}

  .survey-list__item {
    display: block;
    padding: 15px 0;

    color: inherit;

    &, &:hover {
      text-decoration: none;
    }

    &:hover {
      .survey-list__item__meta li {
        color: $primary-color;
      }
    }
  }

    .survey-list__item__title {
      float: left;
    }

    .survey-list__item__meta {
      display: block;

      li, & {
        margin: 0;
        padding: 0
      }

      li {
        display: inline;
        color: $secondary-text-color;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
