@font-face {
  font-family: "linecons";
  src: font-url("linecons.svg") format("svg"),
			 font-url("linecons.eot?") format("eot"),
			 font-url("linecons.ttf") format("ttf"),
			 font-url("linecons.woff") format("woff");
}

[class^="li-"]:before, [class*=" li-"]:before {
	font-family: "linecons";
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.li-heart:before {
	content: "\e000";
}
.li-cloud:before {
	content: "\e001";
}
.li-star:before {
	content: "\e002";
}
.li-tv:before {
	content: "\e003";
}
.li-sound:before {
	content: "\e004";
}
.li-video:before {
	content: "\e005";
}
.li-trash:before {
	content: "\e006";
}
.li-user:before {
	content: "\e007";
}
.li-key:before {
	content: "\e008";
}
.li-search:before {
	content: "\e009";
}
.li-settings:before {
	content: "\e00a";
}
.li-camera:before {
	content: "\e00b";
}
.li-tag:before {
	content: "\e00c";
}
.li-lock:before {
	content: "\e00d";
}
.li-bulb:before {
	content: "\e00e";
}
.li-pen:before {
	content: "\e00f";
}
.li-diamond:before {
	content: "\e010";
}
.li-display:before {
	content: "\e011";
}
.li-location:before {
	content: "\e012";
}
.li-eye:before {
	content: "\e013";
}
.li-bubble:before {
	content: "\e014";
}
.li-stack:before {
	content: "\e015";
}
.li-cup:before {
	content: "\e016";
}
.li-phone:before {
	content: "\e017";
}
.li-news:before {
	content: "\e018";
}
.li-mail:before {
	content: "\e019";
}
.li-like:before {
	content: "\e01a";
}
.li-photo:before {
	content: "\e01b";
}
.li-note:before {
	content: "\e01c";
}
.li-clock:before {
	content: "\e01d";
}
.li-paperplane:before {
	content: "\e01e";
}
.li-params:before {
	content: "\e01f";
}
.li-banknote:before {
	content: "\e020";
}
.li-data:before {
	content: "\e021";
}
.li-music:before {
	content: "\e022";
}
.li-megaphone:before {
	content: "\e023";
}
.li-study:before {
	content: "\e024";
}
.li-lab:before {
	content: "\e025";
}
.li-food:before {
	content: "\e026";
}
.li-t-shirt:before {
	content: "\e027";
}
.li-fire:before {
	content: "\e028";
}
.li-clip:before {
	content: "\e029";
}
.li-shop:before {
	content: "\e02a";
}
.li-calendar:before {
	content: "\e02b";
}
.li-vallet:before {
	content: "\e02c";
}
.li-vynil:before {
	content: "\e02d";
}
.li-truck:before {
	content: "\e02e";
}
.li-world:before {
	content: "\e02f";
}
