.no-content, .secondary-text {
  color: $secondary-text-color;
  margin: 10px 0;
}

.secondary-text {
  margin-bottom: 0;
}

.no-content {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0 0 20px 0;

  color: $dark-gray;
}
